<div class="navbar">
    <div class="navbar__header">
        <div class="navbar__header__logo">
            <img src="img/logo.svg" alt="">
        </div>
        <div class="navbar__header__button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.786" height="13" viewBox="0 0 24.786 13">
                <g id="Group_150" data-name="Group 150" transform="translate(-1327.5 -32.777)">
                    <line id="Line_28" data-name="Line 28" x2="24.786" transform="translate(1327.5 33.277)"
                          fill="none" stroke="#707070" stroke-width="1" />
                    <line id="Line_28-2" data-name="Line 28" x2="24.786" transform="translate(1327.5 39.277)"
                          fill="none" stroke="#707070" stroke-width="1" />
                    <line id="Line_28-3" data-name="Line 28" x2="24.786" transform="translate(1327.5 45.277)"
                          fill="none" stroke="#707070" stroke-width="1" />
                </g>
            </svg>

        </div>
    </div>

    <div class="navbar__profile">
        <div class="navbar__profile__avatar"></div>
        <div class="navbar__profile__title">دستیار</div>
        <div class="navbar__profile__name">{{ app.user.getFullName }}</div>
        <div class="navbar__profile__describe">اشتراک --- </div>
    </div>
    <div class="navbar__menu">
        <a href="{{ path('dashboard.home.index') }}" class="navbar__menu__item {% if app.request.attributes.get('_route') == 'dashboard.home.index' %}active{% endif %}">
            <div class="navbar__menu__item__icon ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.154" height="18.154"
                     viewBox="0 0 18.154 18.154">
                    <path
                            d="M4.5,14.586h8.069V4.5H4.5Zm0,8.069h8.069V16.6H4.5Zm10.086,0h8.069V12.569H14.586Zm0-18.154v6.051h8.069V4.5Z"
                            transform="translate(-4.5 -4.5)" />
                </svg>
                <span>
                            داشبورد
                        </span>
            </div>
        </a>
        <div class="navbar__menu__divider"></div>
        <a href="{{ path('dashboard.customer.index') }}" class="navbar__menu__item {% if app.request.attributes.get('_route') == 'dashboard.customer.index' %}active{% endif %}">
            <div class="navbar__menu__item__icon ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.154" height="14.75"
                     viewBox="0 0 18.154 14.75">
                    <path id="Icon_awesome-list" data-name="Icon awesome-list"
                          d="M2.837,14.721H.567A.567.567,0,0,0,0,15.289v2.269a.567.567,0,0,0,.567.567H2.837a.567.567,0,0,0,.567-.567V15.289A.567.567,0,0,0,2.837,14.721Zm0-11.346H.567A.567.567,0,0,0,0,3.942V6.212a.567.567,0,0,0,.567.567H2.837A.567.567,0,0,0,3.4,6.212V3.942A.567.567,0,0,0,2.837,3.375Zm0,5.673H.567A.567.567,0,0,0,0,9.615v2.269a.567.567,0,0,0,.567.567H2.837a.567.567,0,0,0,.567-.567V9.615A.567.567,0,0,0,2.837,9.048Zm14.75,6.24H6.24a.567.567,0,0,0-.567.567v1.135a.567.567,0,0,0,.567.567H17.587a.567.567,0,0,0,.567-.567V15.856A.567.567,0,0,0,17.587,15.289Zm0-11.346H6.24a.567.567,0,0,0-.567.567V5.644a.567.567,0,0,0,.567.567H17.587a.567.567,0,0,0,.567-.567V4.51A.567.567,0,0,0,17.587,3.942Zm0,5.673H6.24a.567.567,0,0,0-.567.567v1.135a.567.567,0,0,0,.567.567H17.587a.567.567,0,0,0,.567-.567V10.183A.567.567,0,0,0,17.587,9.615Z"
                          transform="translate(0 -3.375)" />
                </svg>
                <span>
                            بیماران
                        </span>
            </div>
        </a>
        <a href="{{ path('dashboard.accounting.index') }}" class="navbar__menu__item {% if app.request.attributes.get('_route') == 'dashboard.accounting.index' %}active{% endif %}">
            <div class="navbar__menu__item__icon ">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.985" height="17.818"
                     viewBox="0 0 19.985 17.818">
                    <path id="Icon_awesome-wallet" data-name="Icon awesome-wallet"
                          d="M18,6.068H3.123a.636.636,0,0,1,0-1.273H18.111a.63.63,0,0,0,.625-.636A1.892,1.892,0,0,0,16.862,2.25H2.5A2.522,2.522,0,0,0,0,4.8V17.523a2.522,2.522,0,0,0,2.5,2.545H18a1.949,1.949,0,0,0,1.983-1.909V7.977A1.949,1.949,0,0,0,18,6.068Zm-1.764,8.273a1.273,1.273,0,1,1,1.249-1.273A1.261,1.261,0,0,1,16.238,14.341Z"
                          transform="translate(0 -2.25)" />
                </svg>

                <span>
                            حسابداری
                        </span>
            </div>
        </a>
        <a href="{{ path('dashboard.reminder.index') }}" class="navbar__menu__item {% if app.request.attributes.get('_route') == 'dashboard.reminder.index' %}active{% endif %}">
            <div class="navbar__menu__item__icon ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.154" height="18.154"
                     viewBox="0 0 18.154 18.154">
                    <path id="Icon_awesome-check-square" data-name="Icon awesome-check-square"
                          d="M16.209,20.4H1.945A1.945,1.945,0,0,1,0,18.459V4.2A1.945,1.945,0,0,1,1.945,2.25H16.209A1.945,1.945,0,0,1,18.154,4.2V18.459A1.945,1.945,0,0,1,16.209,20.4ZM7.915,16.431l7.456-7.456a.648.648,0,0,0,0-.917l-.917-.917a.648.648,0,0,0-.917,0L7.456,13.221,4.617,10.382a.648.648,0,0,0-.917,0l-.917.917a.648.648,0,0,0,0,.917L7,16.431a.648.648,0,0,0,.917,0Z"
                          transform="translate(0 -2.25)" />
                </svg>

                <span>
                            یادآوری های من
                        </span>
            </div>
        </a>
        <a href="{{ path('dashboard.settings.doctor') }}" class="navbar__menu__item {% if app.request.attributes.get('_route') == 'dashboard.settings.doctor' %}active{% endif %}">
            <div class="navbar__menu__item__icon ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.654" height="20.66"
                     viewBox="0 0 20.654 20.66">
                    <path id="Icon_ionic-ios-settings" data-name="Icon ionic-ios-settings"
                          d="M23.449,14.827a2.658,2.658,0,0,1,1.705-2.48A10.535,10.535,0,0,0,23.88,9.276a2.693,2.693,0,0,1-1.081.231,2.652,2.652,0,0,1-2.426-3.733A10.5,10.5,0,0,0,17.307,4.5a2.656,2.656,0,0,1-4.959,0A10.535,10.535,0,0,0,9.276,5.775,2.652,2.652,0,0,1,6.851,9.508a2.606,2.606,0,0,1-1.081-.231A10.768,10.768,0,0,0,4.5,12.353a2.657,2.657,0,0,1,.005,4.959A10.535,10.535,0,0,0,5.78,20.383a2.653,2.653,0,0,1,3.5,3.5,10.6,10.6,0,0,0,3.071,1.275,2.651,2.651,0,0,1,4.948,0,10.535,10.535,0,0,0,3.071-1.275,2.656,2.656,0,0,1,3.5-3.5,10.6,10.6,0,0,0,1.275-3.071A2.67,2.67,0,0,1,23.449,14.827Zm-8.574,4.3a4.3,4.3,0,1,1,4.3-4.3A4.3,4.3,0,0,1,14.876,19.125Z"
                          transform="translate(-4.5 -4.5)" />
                </svg>
                <span>
                            تنظیمات پزشکان
                        </span>
            </div>
        </a>
        <div class="navbar__menu__divider"></div>
    </div>
</div>