{% extends 'dashboard/base.html.twig' %}

{% block title %}داشبورد{% endblock %}

{% block body %}

    {% include 'dashboard/includes/board_header_with_calendar.html.twig' %}

    <div class="board__inner">
        <div class="board__inner__header">
            <div class="board__inner__header__title">
                داشبورد
            </div>
            <div class="board__inner__header__describe">
                در یک نما می توانید ، برنامه کلی روز خود را ببینید
            </div>


        </div>
        <div class="board__inner__body">
            <div class="board__inner__body__main full">

                <div class="board__inner__body__main__header">
                    <div class="board__inner__body__main__header__title">
                        بیماران امروز
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18">
                            <path id="Polygon_3" data-name="Polygon 3" d="M14,0,28,18H0Z"
                                  transform="translate(28 18) rotate(180)" fill="#4031ad"/>
                        </svg>

                    </div>
                    <div class="board__inner__body__main__header__action">
                        <a href="{{ path('dashboard.customer.new') }}">
                            <svg id="Component_85_1" data-name="Component 85 – 1" xmlns="http://www.w3.org/2000/svg"
                                 width="36" height="36" viewBox="0 0 36 36">
                                <circle id="Ellipse_226" data-name="Ellipse 226" cx="18" cy="18" r="18"
                                        fill="#4031ad"/>
                                <g id="_" data-name="+" transform="translate(9 9)">
                                    <path id="Union_1" data-name="Union 1"
                                          d="M7.875,17V9.563H0V7.437H7.875V0h2.251V7.437H18V9.563H10.126V17Z"
                                          transform="translate(0 0)" fill="#fff"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="board__inner__body__main__content">
                    <table class="board__inner__body__main__content__table">
                        <thead>
                        <th>شماره بیمار</th>
                        <th>نام بیمار</th>
                        <th>پزشک</th>
                        <th>شماره تماس</th>
                        <th>زمان</th>
                        <th>وضعیت مراجعه</th>
                        <th>صورتحساب</th>
                        </thead>
                        <tbody>
                        {% for appointment in appointments %}
                            <tr>
                                <td>
                                    {{ appointment.customer_id }}
                                </td>
                                <td>
                                    {{ appointment.customer }}
                                </td>
                                <td style="color: #4031AD">
                                    {{ appointment.doctor }}
                                </td>
                                <td>
                                    {{ appointment.mobile }}
                                </td>
                                <td>
                                    {{ appointment.from_time }}
                                </td>
                                <td>
                                    {% if appointment.status == 0 %}
                                        <a href="{{ path('dashboard.reservation.change_state',{'app':appointment.id,'state':1}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                 height="30"
                                                 viewBox="0 0 30 30">
                                                <g id="Component_85_157" data-name="Component 85 – 157">
                                                    <g id="Ellipse_226" data-name="Ellipse 226"
                                                       fill="white"
                                                       stroke="#95989a" stroke-width="0.5">
                                                        <circle cx="15" cy="15" r="15" stroke="none"/>
                                                        <circle cx="15" cy="15" r="14.75" fill="none"/>
                                                    </g>
                                                </g>
                                                <g id="tick" transform="translate(8.704 -57.621)">
                                                    <g id="Group_50" data-name="Group 50"
                                                       transform="translate(0 67.997)">
                                                        <path id="Path_323" data-name="Path 323"
                                                              d="M12.408,68.182a.63.63,0,0,0-.89,0L3.974,75.725l-2.9-2.9a.63.63,0,0,0-.89.89l3.345,3.345a.63.63,0,0,0,.89,0l7.989-7.989A.63.63,0,0,0,12.408,68.182Z"
                                                              transform="translate(0 -67.997)"
                                                              fill="black"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="{{ path('dashboard.reservation.change_state',{'app':appointment.id,'state':2}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                 height="30"
                                                 viewBox="0 0 30 30">
                                                <g id="Component_85_158" data-name="Component 85 – 158">
                                                    <g id="Ellipse_226" data-name="Ellipse 226"
                                                       fill="white"
                                                       stroke="#95989a" stroke-width="0.5">
                                                        <circle cx="15" cy="15" r="15" stroke="none"/>
                                                        <circle cx="15" cy="15" r="14.75" fill="none"/>
                                                    </g>
                                                </g>
                                                <g id="cancel" transform="translate(9 8.999)">
                                                    <g id="Group_51" data-name="Group 51"
                                                       transform="translate(0 0.001)">
                                                        <path id="Path_324" data-name="Path 324"
                                                              d="M6.663,6l5.2-5.2A.469.469,0,0,0,11.2.138L6,5.338.8.138A.469.469,0,1,0,.137.8L5.337,6l-5.2,5.2a.469.469,0,0,0,.663.663L6,6.664l5.2,5.2a.469.469,0,0,0,.663-.663Z"
                                                              transform="translate(0 -0.001)"
                                                              fill="black"/>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a>
                                    {% elseif appointment.status == 2 %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                             viewBox="0 0 30 30">
                                            <g id="Component_85_157" data-name="Component 85 – 157">
                                                <g id="Ellipse_226" data-name="Ellipse 226" fill="white"
                                                   stroke="#95989a" stroke-width="0.5">
                                                    <circle cx="15" cy="15" r="15" stroke="none"/>
                                                    <circle cx="15" cy="15" r="14.75" fill="none"/>
                                                </g>
                                            </g>
                                            <g id="tick" transform="translate(8.704 -57.621)">
                                                <g id="Group_50" data-name="Group 50"
                                                   transform="translate(0 67.997)">
                                                    <path id="Path_323" data-name="Path 323"
                                                          d="M12.408,68.182a.63.63,0,0,0-.89,0L3.974,75.725l-2.9-2.9a.63.63,0,0,0-.89.89l3.345,3.345a.63.63,0,0,0,.89,0l7.989-7.989A.63.63,0,0,0,12.408,68.182Z"
                                                          transform="translate(0 -67.997)"
                                                          fill="black"/>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                             viewBox="0 0 30 30">
                                            <g id="Component_85_158" data-name="Component 85 – 158">
                                                <g id="Ellipse_226" data-name="Ellipse 226" fill="red"
                                                   stroke="#95989a" stroke-width="0.5">
                                                    <circle cx="15" cy="15" r="15" stroke="none"/>
                                                    <circle cx="15" cy="15" r="14.75" fill="none"/>
                                                </g>
                                            </g>
                                            <g id="cancel" transform="translate(9 8.999)">
                                                <g id="Group_51" data-name="Group 51"
                                                   transform="translate(0 0.001)">
                                                    <path id="Path_324" data-name="Path 324"
                                                          d="M6.663,6l5.2-5.2A.469.469,0,0,0,11.2.138L6,5.338.8.138A.469.469,0,1,0,.137.8L5.337,6l-5.2,5.2a.469.469,0,0,0,.663.663L6,6.664l5.2,5.2a.469.469,0,0,0,.663-.663Z"
                                                          transform="translate(0 -0.001)" fill="#fff"/>
                                                </g>
                                            </g>
                                        </svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                             viewBox="0 0 30 30">
                                            <g id="Component_85_157" data-name="Component 85 – 157">
                                                <g id="Ellipse_226" data-name="Ellipse 226"
                                                   fill="#0bce56"
                                                   stroke="#95989a" stroke-width="0.5">
                                                    <circle cx="15" cy="15" r="15" stroke="none"/>
                                                    <circle cx="15" cy="15" r="14.75" fill="none"/>
                                                </g>
                                            </g>
                                            <g id="tick" transform="translate(8.704 -57.621)">
                                                <g id="Group_50" data-name="Group 50"
                                                   transform="translate(0 67.997)">
                                                    <path id="Path_323" data-name="Path 323"
                                                          d="M12.408,68.182a.63.63,0,0,0-.89,0L3.974,75.725l-2.9-2.9a.63.63,0,0,0-.89.89l3.345,3.345a.63.63,0,0,0,.89,0l7.989-7.989A.63.63,0,0,0,12.408,68.182Z"
                                                          transform="translate(0 -67.997)"
                                                          fill="white"/>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                             viewBox="0 0 30 30">
                                            <g id="Component_85_158" data-name="Component 85 – 158">
                                                <g id="Ellipse_226" data-name="Ellipse 226" fill="white"
                                                   stroke="#95989a" stroke-width="0.5">
                                                    <circle cx="15" cy="15" r="15" stroke="none"/>
                                                    <circle cx="15" cy="15" r="14.75" fill="none"/>
                                                </g>
                                            </g>
                                            <g id="cancel" transform="translate(9 8.999)">
                                                <g id="Group_51" data-name="Group 51"
                                                   transform="translate(0 0.001)">
                                                    <path id="Path_324" data-name="Path 324"
                                                          d="M6.663,6l5.2-5.2A.469.469,0,0,0,11.2.138L6,5.338.8.138A.469.469,0,1,0,.137.8L5.337,6l-5.2,5.2a.469.469,0,0,0,.663.663L6,6.664l5.2,5.2a.469.469,0,0,0,.663-.663Z"
                                                          transform="translate(0 -0.001)" fill="black"/>
                                                </g>
                                            </g>
                                        </svg>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('dashboard.customer.preview',{'customer':appointment.customer_id}) }}"
                                       class="btn btn-warning">مشاهده</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {# <tr> #}
                {# <td>01</td> #}
                {# <td>محمدرضا حسینی اصل </td> #}
                {# <td>دکتر محمدرضا شیخ فرشی </td> #}
                {# <td>۰۹۱۲۷۳۷۱۳۵۶ </td> #}
                {# <td>ساعت ۱۷:۳۰ </td> #}
                {# <td class="actions"> #}
                {# <a href="#" data-action="close"> #}
                {# <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" #}
                {# viewBox="0 0 34 34"> #}
                {# <g id="Component_85_4" data-name="Component 85 – 4"> #}
                {# <g id="Ellipse_226" data-name="Ellipse 226" fill="#fff" #}
                {# stroke="#757575" stroke-width="0.5"> #}
                {# <circle cx="17" cy="17" r="17" stroke="none" /> #}
                {# <circle cx="17" cy="17" r="16.75" fill="none" /> #}
                {# </g> #}
                {# </g> #}
                {# <path id="close-outline" d="M155.5,155.5,144,144m11.5,0L144,155.5" #}
                {# transform="translate(-132.75 -132.248)" fill="none" #}
                {# stroke="#757575" stroke-linecap="round" stroke-linejoin="round" #}
                {# stroke-width="0.5" /> #}
                {# </svg> #}

                {# </a> #}
                {# <a href="#" data-action="check"> #}
                {# <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" #}
                {# viewBox="0 0 34 34"> #}
                {# <g id="Component_85_34" data-name="Component 85 – 34"> #}
                {# <g id="Ellipse_226" data-name="Ellipse 226" fill="#fff" #}
                {# stroke="#757575" stroke-width="0.5"> #}
                {# <circle cx="17" cy="17" r="17" stroke="none" /> #}
                {# <circle cx="17" cy="17" r="16.75" fill="none" /> #}
                {# </g> #}
                {# </g> #}
                {# <path id="checkmark-outline" #}
                {# d="M110.387,128l-10.071,11.51L96,135.194" #}
                {# transform="translate(-86.194 -116.258)" fill="none" #}
                {# stroke="#757575" stroke-linecap="round" stroke-linejoin="round" #}
                {# stroke-width="0.5" /> #}
                {# </svg> #}

                {# </a> #}
                {# </td> #}
                {# <td><a href="#" #}
                {# class="board__inner__body__main__content__table__button">جزییات</a> #}
                {# </td> #}

                {# </tr> #}
                {# <tr> #}
                {# <td>01</td> #}
                {# <td>محمدرضا حسینی اصل </td> #}
                {# <td>دکتر محمدرضا شیخ فرشی </td> #}
                {# <td>۰۹۱۲۷۳۷۱۳۵۶ </td> #}
                {# <td>ساعت ۱۷:۳۰ </td> #}
                {# <td class="actions"> #}
                {# <a href="#" data-action="close"> #}
                {# <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"> #}
                {# <g id="Group_174" data-name="Group 174" transform="translate(-326 -435)"> #}
                {# <g id="Component_85_4" data-name="Component 85 – 4" transform="translate(326 435)"> #}
                {# <g id="Ellipse_226" data-name="Ellipse 226" fill="#ff3131" stroke="#757575" stroke-width="0.5"> #}
                {# <circle cx="17" cy="17" r="17" stroke="none"/> #}
                {# <circle cx="17" cy="17" r="16.75" fill="none"/> #}
                {# </g> #}
                {# </g> #}
                {# <path id="close-outline" d="M155.5,155.5,144,144m11.5,0L144,155.5" transform="translate(193.25 302.752)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/> #}
                {# </g> #}
                {# </svg> #}

                {# </a> #}
                {# <a href="#" data-action="check"> #}
                {# <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" #}
                {# viewBox="0 0 34 34"> #}
                {# <g id="Component_85_34" data-name="Component 85 – 34"> #}
                {# <g id="Ellipse_226" data-name="Ellipse 226" fill="#fff" #}
                {# stroke="#757575" stroke-width="0.5"> #}
                {# <circle cx="17" cy="17" r="17" stroke="none" /> #}
                {# <circle cx="17" cy="17" r="16.75" fill="none" /> #}
                {# </g> #}
                {# </g> #}
                {# <path id="checkmark-outline" #}
                {# d="M110.387,128l-10.071,11.51L96,135.194" #}
                {# transform="translate(-86.194 -116.258)" fill="none" #}
                {# stroke="#757575" stroke-linecap="round" stroke-linejoin="round" #}
                {# stroke-width="0.5" /> #}
                {# </svg> #}

                {# </a> #}
                {# </td> #}
                {# <td><a href="#" #}
                {# class="board__inner__body__main__content__table__button">جزییات</a> #}
                {# </td> #}

                {# </tr> #}
                {# <tr> #}
                {# <td>01</td> #}
                {# <td>محمدرضا حسینی اصل </td> #}
                {# <td>دکتر محمدرضا شیخ فرشی </td> #}
                {# <td>۰۹۱۲۷۳۷۱۳۵۶ </td> #}
                {# <td>ساعت ۱۷:۳۰ </td> #}
                {# <td class="actions"> #}
                {# <a href="#" data-action="close"> #}
                {# <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" #}
                {# viewBox="0 0 34 34"> #}
                {# <g id="Component_85_4" data-name="Component 85 – 4"> #}
                {# <g id="Ellipse_226" data-name="Ellipse 226" fill="#fff" #}
                {# stroke="#757575" stroke-width="0.5"> #}
                {# <circle cx="17" cy="17" r="17" stroke="none" /> #}
                {# <circle cx="17" cy="17" r="16.75" fill="none" /> #}
                {# </g> #}
                {# </g> #}
                {# <path id="close-outline" d="M155.5,155.5,144,144m11.5,0L144,155.5" #}
                {# transform="translate(-132.75 -132.248)" fill="none" #}
                {# stroke="#757575" stroke-linecap="round" stroke-linejoin="round" #}
                {# stroke-width="0.5" /> #}
                {# </svg> #}

                {# </a> #}
                {# <a href="#" data-action="check"> #}
                {# <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"> #}
                {# <g id="Component_85_34" data-name="Component 85 – 34"> #}
                {# <g id="Ellipse_226" data-name="Ellipse 226" fill="#36db96" stroke="#757575" stroke-width="0.5"> #}
                {# <circle cx="17" cy="17" r="17" stroke="none"/> #}
                {# <circle cx="17" cy="17" r="16.75" fill="none"/> #}
                {# </g> #}
                {# </g> #}
                {# <path id="checkmark-outline" d="M110.387,128l-10.071,11.51L96,135.194" transform="translate(-86.194 -116.258)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/> #}
                {# </svg> #}


                {# </a> #}
                {# </td> #}
                {# <td><a href="#" #}
                {# class="board__inner__body__main__content__table__button">جزییات</a> #}
                {# </td> #}

                {# </tr> #}
                </tbody>
                </table>
            </div>
        </div>

    </div>
    </div>
{% endblock %}
