<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>کلینیتیک | ورود</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo.png') }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="{{ asset('new_assets/app.css') }}">
</head>

<body>
<main id="login">
    <div class="card">
        <form class="mt-5 text-left" action="{{ path('auth.login') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="card__form">
                <div class="card__form__logo">
                    <img src="{{ asset('new_assets/img/logo.svg') }}" alt="">
                </div>
                <div class="card__form__text">
                    <div class="card__form__logo__text__title">
                        ورود به کلینیتیک
                    </div>
                    <div class="card__form__logo__text__describe">
                        برای استفاده از خدمات کلینیتیک باید وارد حساب
                        کاربری خود شوید
                    </div>

                </div>
                <input type="text" name="mobile" id="mobile" placeholder="َشماره همراه" class="card__form__logo__input">
                <input type="password" name="password" id="password" placeholder="رمز عبور"
                       class="card__form__logo__input">
                <button class="card__form__logo__button" type="submit"> تایید و ادامه</button>
                {# <div class="card__form__logo__footer"> #}
                {# حساب کاربری ندارید؟ #}
                {# <a class="card__form__logo__footer__link"> #}
                {# ثبت نام کنید #}
                {# </a> #}
                {# </div> #}
            </div>
        </form>
        <div class="card__image">
        </div>
    </div>
    {# <div class="comment"> #}
    {# ارسال نظرات #}
    {# <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 28.426 28.426"> #}
    {# <path id="Icon_material-feedback" data-name="Icon material-feedback" #}
    {# d="M28.584,3H5.843A2.839,2.839,0,0,0,3.014,5.843L3,31.426l5.685-5.685h19.9A2.851,2.851,0,0,0,31.426,22.9V5.843A2.851,2.851,0,0,0,28.584,3ZM18.634,20.056H15.792V17.213h2.843Zm0-5.685H15.792V8.685h2.843Z" #}
    {# transform="translate(-3 -3)"/> #}
    {# </svg> #}

    {# </div> #}
</main>
{% include 'dashboard/includes/flash_message.html.twig' %}
</body>

</html>
